* {
  padding: 0px;
  font-family: sans-serif;
  margin: 0px;
}

#content {
  text-align: center;
}

#cabecera {
  margin: 20px auto;
  padding: 0px;
  background-color: #000;
  color: #fff;
  border-radius: 20px;
  border: 2px solid red;
}

#navegacion {
  display: inline-table;
  list-style: none;
  text-align: left;
  float: 
}

#seccion_1 {
  text-align: left;
}

#grupo1 {
  text-align: center;
  font-family: arial;
}

#seccion_2{
  text-align: left;
}

#grupo2{
  text-align: center;
}

#imagen_patas_animales{
  text-align: center;
}

#footer{
  text-align: center;
}