* {
  padding: 0px;
  font-family: sans-serif;
  margin: 0px;
  background-color: #000;
  color: #fff;
}

a {
  text-decoration: none;
}

#content {
  width: 960px;
  text-align: center;
  margin: 15px auto;
}

#cabecera {
  padding: 20px;
  background-color: #000;
  color: #fff;
  border-radius: 20px;
  border: 2px solid red;
  float: left;
}

#navegacion {
  padding: 20px 15px;
}

#navegacion li{
  display: inline-block;
  list-style: none;
  padding: 15px;
  font: bold 14px verdana, sans-serif;
}

#seccion_1 {
  clear:both;
  text-align: center-left;
  padding-top: 30px;
  width: 520px;

}

#grupo1 {
  text-align: center;
  font-family: arial;
}

#seccion_2{
  text-align: left;
  padding-top: 30px;
  width: 520px;
}

#grupo2{
  text-align: center;
}

#imagen_patas_animales{
  text-align: center;
}

#aside {
  float: right;
}

footer{
  text-align: center;
  margin: 10px;
  padding: 15px;
}
